<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Bootstrap link  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- FontAwesome Link  -->
    <!-- <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    /> -->
    <!-- Iconify Link  -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- JQuery  -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <title>QuizApp</title>
    <!-- Stylesheeets  -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/QuizApp/styles/layout.scss"
      type="text/scss"
    />
    <link
      rel="stylesheet"
      href="/QuizApp/styles/header.scss"
      type="text/scss"
    />
    <!-- Javascript  -->
    <script type="text/javascript" src="/scripts/countScore.js"></script>
  </head>
  <body>
    <!-- Navbar  -->
    <%- include('partials/_header') %>

    <form class="submit_quiz" method="POST" action="/users/quizzes/result">
      <h1><%= templateVars.quizName %></h1>
      <article class="question question-default">
        <h2>Question 1</h2>
        <header class="question-header">
          <!-- <%= templateVars.quizId%> -->
          <div class="card-title">
            <h1 class="title"><%= templateVars.questionName1 %></h1>
          </div>
        </header>
        <ol class="options">
          <!--   option 1 -->
          <li data-cols="2" class="">
            <div class="option-container">
              <input type="radio" name="question1" />
              <label title="option1"><%= templateVars.q1o1 %></label>
            </div>
            <!--         option 2 -->
            <div class="option-container">
              <input type="radio" name="question1" />
              <label title="option1"><%= templateVars.q1o2 %></label>
            </div>
          </li>
          <!--  option 3 -->
          <li class="" data-cols="2">
            <div class="option-container">
              <input type="radio" name="question1" class="answer" />
              <label title="option1"><%= templateVars.q1a1 %></label>
            </div>
            <!--   option 4 -->

            <div class="option-container">
              <input type="radio" name="question1" />
              <label title="option1"><%= templateVars.q1o3 %></label>
            </div>
          </li>
        </ol>
      </article>

      <article class="question question-default">
        <h2>Question 2</h2>
        <header class="question-header">
          <div class="card-title">
            <h1 class="title"><%= templateVars.questionName2 %></h1>
          </div>
        </header>
        <ol class="options">
          <!--   option 1 -->
          <li data-cols="2" class="">
            <div class="option-container">
              <input type="radio" name="question2" class="answer" />
              <label title="option1"><%= templateVars.q2a2 %></label>
            </div>
            <!--         option 2 -->
            <div class="option-container">
              <input type="radio" name="question2" />
              <label title="option1"><%= templateVars.q2o2 %></label>
            </div>
          </li>
          <!--  option 3 -->
          <li class="" data-cols="2">
            <div class="option-container">
              <input type="radio" name="question2" />
              <label title="option1"><%= templateVars.q2o3 %></label>
            </div>
            <!--   option 4 -->
            <div class="option-container">
              <input type="radio" name="question2" />
              <label title="option1"><%= templateVars.q2o1 %></label>
            </div>
          </li>
        </ol>
      </article>

      <article class="question question-default">
        <h2>Question 3</h2>
        <header class="question-header">
          <div class="card-title">
            <h1 class="title"><%= templateVars.questionName3 %></h1>
          </div>
        </header>
        <ol class="options">
          <!--   option 1 -->
          <li data-cols="2" class="">
            <div class="option-container">
              <input type="radio" name="question3" />
              <label title="option1"><%= templateVars.q3o1 %></label>
            </div>
            <!--         option 2 -->
            <div class="option-container">
              <input type="radio" name="question3" />
              <label title="option1"><%= templateVars.q3o2 %></label>
            </div>
          </li>
          <!--  option 3 -->
          <li class="" data-cols="2">
            <div class="option-container">
              <input type="radio" name="question3" />
              <label title="option1"><%= templateVars.q3o3 %></label>
            </div>
            <!--   option 4 -->
            <div class="option-container">
              <input type="radio" name="question3" class="answer" />
              <label title="option1"><%= templateVars.q3a3 %></label>
            </div>
          </li>
        </ol>
      </article>

      <article class="question question-default">
        <h2>Question 4</h2>
        <header class="question-header">
          <div class="card-title">
            <h1 class="title"><%= templateVars.questionName4 %></h1>
          </div>
        </header>
        <ol class="options">
          <!--   option 1 -->
          <li data-cols="2" class="">
            <div class="option-container">
              <input type="radio" name="question4" />
              <label title="option1"><%= templateVars.q4o1 %></label>
            </div>
            <!--  option 2 -->
            <div class="option-container">
              <input type="radio" name="question4" class="answer" />
              <label title="option1"><%= templateVars.q4a4 %></label>
            </div>
          </li>
          <!--  option 3 -->
          <li class="" data-cols="2">
            <div class="option-container">
              <input type="radio" name="question4" />
              <label title="option1"><%= templateVars.q4o3 %></label>
            </div>
            <!--   option 4 -->
            <div class="option-container">
              <input type="radio" name="question4" />
              <label title="option1"><%= templateVars.q4o2 %></label>
            </div>
          </li>
        </ol>
      </article>

      <article class="question question-default">
        <h2>Question 5</h2>
        <header class="question-header">
          <div class="card-title">
            <h1 class="title"><%= templateVars.questionName5 %></h1>
          </div>
        </header>
        <ol class="options">
          <!--  option 3 -->
          <li class="" data-cols="2">
            <div class="option-container">
              <input type="radio" name="question5" />
              <label title="option1"><%= templateVars.q5o3 %></label>
            </div>
            <!--   option 4 -->
            <div class="option-container">
              <input type="radio" name="question5" class="answer" />
              <label title="option1"><%= templateVars.q5a5 %></label>
            </div>
          </li>
          <!--   option 1 -->
          <li data-cols="2" class="">
            <div class="option-container">
              <input type="radio" name="question5" />
              <label title="option1"><%= templateVars.q5o1 %></label>
            </div>
            <!--  option 2 -->
            <div class="option-container">
              <input type="radio" name="question5" />
              <label title="option1"><%= templateVars.q5o2 %></label>
            </div>
          </li>
        </ol>
      </article>
      <!-- button to submit quiz  -->
      <input
        type="hidden"
        id="quiz_id"
        name="quiz_id"
        value="<%= templateVars.quizId %>"
      />
      <input type="hidden" id="score" name="score" value="0" />
      <button id="submit_quiz" type="submit" class="btn btn-primary btn-lg">
        Submit
      </button>
    </form>
  </body>
</html>
