<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap link  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- FontAwesome Link  -->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- Google fonts  -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- Iconify Link  -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <!-- JQuery  -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <title>QuizApp</title>
  <!-- Stylesheeets  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/QuizApp/styles/layout.scss" type="text/scss" />
  <link rel="stylesheet" href="/QuizApp/styles/header.scss" type="text/scss" />
  <!-- Javascript  -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Navbar  -->
  <%- include('partials/_header') %>
  <div class="big-container">
    <div class="row">
      <div class="col-3 profile">
        <!-- <div><span class=" quiz-profile iconify" data-icon="carbon:user-avatar-filled" data-inline="false"></span><span -->
        <div id="avatar-div"><span id="avatar" class="iconify" data-icon="bi:person-bounding-box" data-inline="false"></span></div>
        <div><span class="profile-name"> Welcome <%= person %></span> </div>
        <div class="my_quizzes_btn">
          <div><a href="/users/myQuizzes/1"><button type="button" button
                class="btn btn-danger btn-rounded">My Created Quizzes</button></a></div>
          <div><a href="/users/myCompletedQuizzes"><button type="button" class="btn btn-info btn-rounded">My Completed Quizzes</button></a></div>
        </div>
      </div>
      <div class="col-9" class='main-container'>
        <div class="list-top">
          <span class="quiz-top"><h3>Enjoy our Quizzes</h3></span>
        </div>
        <span>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Quiz</th>
                <th scope="col">Category</th>
                <th scope="col">Creator</th>
              </tr>
            </thead>
            <tbody>
              <% for(let quiz in sportsCategory) { %>
              <tr>
                <td> <%= sportsCategory[quiz].quiz%></td>
                <td> <%= sportsCategory[quiz].category%></td>
                <td> <%= sportsCategory[quiz].creator%></td>
                <td>
                  <form action="/" method="GET">
                    <a href="/users/quizzes/<%= sportsCategory[quiz].quizid%>"> <button type="button" class="btn btn-primary">Play Quiz</button></a></form>
                </td>
                <% } %>
              </tr>
            </tbody>
          </table>
        </span>
      </div>
    </div>
    <!-- </div>
  </section> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
</body>
</html>

