<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <!-- Bootstrap link  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- FontAwesome Link  -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Iconify Link  -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- JQuery  -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <title>QuizApp</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let quiz in quizzes) { %>
          <tr>
            <td><%= quiz %>
            </td>
            <td> <%= quizzes[quiz] %></td>
            <td><a href="/urls/<%= url %>"><button class="btn btn-outline-danger">Edit</button></td>
            <td><form method="POST" action="/urls/<%= url %>/delete">
          <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form></td>
          </tr>
        <% } %>
      </tbody>
    </table>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>
    </html>
